{% extends "base.html" %}

{% block content %}

<h1 class="mb-2">Dashboard</h1>

<p class="text-muted">
    Manage your subscriptions and keep track of upcoming renewals.
</p>
<div class="row g-4">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <h5 class="card-title">
                    Total Subscriptions
                </h5>

                <h2>
                    {{ total_subscriptions }}
                </h2>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <h5 class="card-title">
                    Monthly Spending
                </h5>

                <h2>
                    ₹{{ monthly_spending }}
                </h2>

            </div>
        </div>
    </div>
</div>
<div class="row g-4 mt-1">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <h5 class="card-title">
                    Yearly Spending
                </h5>

                <h2>
                    ₹{{ yearly_spending }}
                </h2>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <h5 class="card-title">
                    Renewing Soon
                </h5>

                <h2>
                    {{ renewing_soon }}
                </h2>

            </div>
        </div>
    </div>
</div>

{% endblock %}